APP_ENV=dev

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=products
POSTGRES_PORT_DEV=7600
POSTGRES_PORT_PROD=7601

MINIO_ROOT_USER=minio-admin
MINIO_ROOT_PASSWORD=minio-secret-key
MINIO_BUCKET_NAME_PRODUCT=product-chunks
MINIO_BUCKET_NAME_LOKI=loki-chunks
MINIO_BUCKET_NAME_TEMPO=tempo-traces
MINIO_API_PORT_DEV=9002
MINIO_CONSOLE_PORT_DEV=9003
MINIO_API_PORT_PROD=9004
MINIO_CONSOLE_PORT_PROD=9001
MINIO_ENDPOINT=http://localhost:9002
MINIO_PUBLIC_ENDPOINT=http://localhost:9002

DATABASE_URL=postgresql+asyncpg://admin:admin@localhost:7600/products
SECRET_KEY=""
ACCESS_TOKEN_TTL_HOURS=1
ADMIN_PASSWORD=""
CORS_ALLOW_ORIGINS=["http://localhost:5501","http://localhost:7500","http://localhost:8000"]
