APP_ENV=dev

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=products
POSTGRES_PORT_DEV=7600
POSTGRES_PORT_PROD=7601

DATABASE_URL=postgresql+asyncpg://admin:admin@localhost:7600/products
SECRET_KEY=""
ACCESS_TOKEN_TTL_HOURS=1
ADMIN_PASSWORD=""
