APP_ENV=dev

IDENTITY_DATABASE_URL=postgresql+asyncpg://admin:admin@identity-db:5432/identity
IDENTITY_JWT_PRIVATE_KEY_PATH=
IDENTITY_ACCESS_TOKEN_TTL_HOURS=1
IDENTITY_AMQP_URL=amqp://guest:guest@rabbitmq:5672/
IDENTITY_OUTBOX_POLL_INTERVAL_SECONDS=5
ADMIN_EMAIL=admin@productsflow.local
ADMIN_PASSWORD=
CATALOG_DATABASE_URL=postgresql+asyncpg://admin:admin@catalog-db:5432/catalog
CATALOG_AMQP_URL=amqp://guest:guest@rabbitmq:5672/
CATALOG_IDENTITY_BASE_URL=http://identity-api:8000
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9002
MINIO_ROOT_USER=minio-admin
MINIO_ROOT_PASSWORD=minio-secret-key
MINIO_BUCKET_NAME_PRODUCT=product-chunks
MINIO_BUCKET_NAME_LOKI=loki-chunks
MINIO_BUCKET_NAME_TEMPO=tempo-traces
SUPPORT_DATABASE_URL=postgresql+asyncpg://admin:admin@support-db:5432/support
SUPPORT_AMQP_URL=amqp://guest:guest@rabbitmq:5672/
