APP_ENV=dev
INVENTORY_DATABASE_URL=postgresql+asyncpg://admin:admin@localhost:7613/inventory
INVENTORY_AMQP_URL=amqp://guest:guest@localhost:5672/
INVENTORY_IDENTITY_BASE_URL=http://identity-api:8000
